<!DOCTYPE html>
<html>
  <head>
    <title>Lista de estados do Brasil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Selecione um estado</h2>
    <select>
      <% states.forEach(state => { %>
        <option><%= state.nome %></option>
      <% }) %>
    </select>
  </body>
</html>
